  <div class="card white category-card hoverable" *ngIf="category">
    <div class="card-content blue-grey-text darken-4">
      <ul class="collection with-header" [class.expanded]="focused">
        <li class="collection-header card-title center-align">
          <h4>
            <span class="card-title__content">{{category.title}}</span>
            <span class="right title-evaluate" (mouseover)="toggleLegend($event)" (mouseleave)="toggleLegend($event)"> échelle d’évaluation</span>
            <ul class="grade-levels__tooltip" *ngIf="legendActive">
              <li class="grade-levels__tooltip-item"><i class="material-icons" *ngFor="let key of [1,2,3,4]">star_border</i> Non pertinent</li>
              <li class="grade-levels__tooltip-item"><i class="material-icons">star</i><i class="material-icons" *ngFor="let key of [1,2,3]">star_border</i> Non réalisé</li>
              <li class="grade-levels__tooltip-item"><i class="material-icons" *ngFor="let key of [1,2]">star</i><i class="material-icons" *ngFor="let key of [1,2]">star_border</i> Activité en cours</li>
              <li class="grade-levels__tooltip-item"><i class="material-icons" *ngFor="let key of [1,2,3]">star</i><i class="material-icons">star_border</i> Activité réalisée</li>
              <li class="grade-levels__tooltip-item"><i class="material-icons" *ngFor="let key of [1,2,3,4]">star</i> Activité réalisée avec livrable</li>
            </ul>
          </h4>
          <div class="grade-category">
            <app-grade
              [grade]="categoryGrade"
              [category]="category"
              [readOnly]="false"
              (gradeEvent)="changeGrade($event)"
              class="teal-text grade-container">
            </app-grade>
          </div>
        </li>
        <p class="collection-item-label">{{category.title}} c'est:</p>
        <li class="collection-item category__skill" [class.shown]="true" *ngFor="let skill of category.skills" [innerHTML]="skill"></li>
      </ul>
    </div>
    <div class="card-action center-align">
      <div class="card-metadata-container">
        <span class="card-metadata chip background-unvalidate">
           <span *ngIf="categoryGrade">Auto-évalué</span>
           <span *ngIf="!categoryGrade">À auto-évalué</span>
          <i class="material-icons right white-text">star</i>
        </span>
        <span class="card-metadata chip background-validate">
           <span *ngIf="(categoryGrade | evaluatedgrade)">Validées</span>
           <span *ngIf="!(categoryGrade | evaluatedgrade)">À validées</span>
          <i class="material-icons right white-text">done</i>
        </span>
      </div>
      <div class="comments-container center-align">
        <app-comment [user]="user" [categoryId]="category._id" [editable]=true> </app-comment>
      </div>
    </div>
  </div>
