<div class="row" *ngIf="userinfo">
    <div class="container col m4 offset-m4 s12">
    <div class="z-depth-1 grey lighten-4 row">
      <div class="col s12">
        <p>Address email: {{userinfo.email}}</p>
        <form (ngSubmit)="patchUser()" #formUser="ngForm">
          <div class='row error-message' *ngIf="errorMessage">
            <div class='col s12' [innerHtml]="errorMessage">
            </div>
          </div>

          <div class='row form-group'>
            <div class='input-field col s12'>
              <input required class='validate' type='password' name='password' id='password' [(ngModel)]='userinfo.password' #password="ngModel" />
              <label for='password'>Choisissez votre mot de passe</label>
            </div>
          </div>

          <div class='row form-group form-informed'>
            <div class='input-field col s12'>
              <input required class='validate' type='email' name='second-email' id='second-email' [(ngModel)]='userinfo.otheremail' #secondemail="ngModel" />
              <label for='password'>second email de contact</label>
            </div>
          </div>
          <span class="form-info">Ce champ est facultatif</span>

          <div class='row form-group'>
            <p>
              <input class="with-gap" id="gender1" name="gender" [(ngModel)]="userinfo.gender" type="radio" value="homme" checked/>
              <label for="gender1">Homme</label>
            </p>
            <p>
              <input class="with-gap" id="gender2" name="gender" [(ngModel)]="userinfo.gender" type="radio" value="femme"/>
              <label for="gender2">Femme</label>
            </p>
          </div>

          <div class='row form-group'>
            <div class='input-field col s12'>
              <input required type="text" name='firstname' id='firstname' [(ngModel)]='userinfo.firstname' #fistname="ngModel" />
              <label data-error="Veuillez rentrer un prénom" for='firstname'>Prénom</label>
            </div>
          </div>

          <div class='row form-group'>
            <div class='input-field col s12'>
              <input required type="text" name='lastname' id='lastname' [(ngModel)]='userinfo.lastname' #lastname="ngModel" />
              <label data-error="Veuillez rentrer un nom de famille" for='lastname'>Nom de famille</label>
            </div>
          </div>

          <div *ngIf="userinfo.type =='user'" class='row form-group'>
            <div class='input-field col s12'>
              <p style="color: #9E9E9E">Date de naissance :</p>
              <input required type="date" name='birthdate' id='birthdate' [(ngModel)]='userinfo.birthdate' #birthdate="ngModel" />
            </div>
          </div>

          <div *ngIf="userinfo.type=='user'" class='row form-group'>
            <div class='input-field col s12'>
              <input required type="text" name='ine' id='ine' [(ngModel)]='userinfo.ine' #ine="ngModel" />
              <label data-error="Veuillez rentrer un INE" for='ine'>INE (11 caratères)</label>
            </div>
          </div>

          <div *ngIf="userinfo.type =='user'" class='row form-group'>
            <div class='input-field col s12'>
              <p style="color: #9E9E9E">Dernier niveau d'étude le plus élevé :</p>
              <select required class="browser-default" [(ngModel)]="userinfo.studyLevel" name="studyLevel">
                <option *ngFor="let studyLevel of studyLevels" [selected]="studyLevel==0" [value]="studyLevel">
                  Bac<span *ngIf="studyLevel!=0">+{{studyLevel}}</span>
                </option>
              </select>
            </div>
          </div>

          <p *ngIf="userinfo.type =='user'" style="color: #9E9E9E">Discipline de ce dernier niveau d’étude le plus élevé :</p>
          <div *ngIf="userinfo.type =='user'" class='row form-group'>
            <p>
              <input
                id="studyType1"
                class="with-gap"
                name="studyType"
                [(ngModel)]="userinfo.studyType"
                type="radio"
                value="Droit, science politiques, science économiques, science de gestion, AES"/>
              <label for="studyType1">Droit, science politiques, sciences économiques, sciences de gestion, AES</label>
            </p>
            <p>
              <input
                id="studyType2"
                class="with-gap"
                name="studyType"
                [(ngModel)]="userinfo.studyType"
                type="radio"
                value="Sciences et sciences de l’ingénieur"/>
              <label for="studyType2">Sciences et sciences de l’ingénieur</label>
            </p>
            <p>
              <input
                id="studyType3"
                class="with-gap"
                name="studyType"
                [(ngModel)]="userinfo.studyType"
                type="radio"
                value="Lettres, art, langues, sciences humaines"/>
              <label for="studyType3">Lettres, art, langues, sciences humaines</label>
            </p>
            <p>
              <input
                id="studyType4"
                class="with-gap"
                name="studyType"
                [(ngModel)]="userinfo.studyType"
                type="radio"
                value="STAPS"/>
              <label for="studyType4">STAPS</label>
            </p>
            <p>
            <input
              id="studyType5"
              class="with-gap"
              name="studyType"
              [(ngModel)]="userinfo.studyType"
              type="radio"
              value="Santé, paramédical et social"/>
              <label for="studyType5">Santé, paramédical et social</label>
            </p>
          </div>

          <div *ngIf="userinfo.type=='user'" class='row form-group'>
            <div class='input-field col s12'>
              <input required type="text" name='school' id='school' [(ngModel)]='userinfo.school' #school="ngModel" />
              <label for='school'>Nom établissement où niveau d’étude obtenu le plus élevé</label>
            </div>
          </div>

          <p *ngIf="userinfo.type =='user'" style="color: #9E9E9E">Type établissement où niveau d’étude obtenu le plus élevé :</p>
          <div *ngIf="userinfo.type =='user'" class='row form-group'>
            <p>
              <input
                id="schoolType1"
                class="with-gap"
                name="schoolType"
                [(ngModel)]="userinfo.schoolType"
                type="radio"
                value="Université"/>
              <label for="schoolType1">Université</label>
            </p>
            <p>
              <input
                id="schoolType2"
                class="with-gap"
                name="schoolType"
                [(ngModel)]="userinfo.schoolType"
                type="radio"
                value="IUT"/>
              <label for="schoolType2">IUT</label>
            </p>
            <p>
              <input
                id="schoolType3"
                class="with-gap"
                name="schoolType"
                [(ngModel)]="userinfo.schoolType"
                type="radio"
                value="IAE"/>
              <label for="schoolType3">IAE</label>
            </p>
            <p>
            <input
              id="schoolType4"
              class="with-gap"
              name="schoolType"
              [(ngModel)]="userinfo.schoolType"
              type="radio"
              value="IEP"/>
              <label for="schoolType4">Santé, paramédical et social</label>
            </p>
            <p>
            <input
              id="schoolType5"
              class="with-gap"
              name="schoolType"
              [(ngModel)]="userinfo.schoolType"
              type="radio"
              value="Ecole d’ingénieur"/>
              <label for="schoolType5">Ecole d’ingénieur</label>
            </p>
            <p>
            <input
              id="schoolType6"
              class="with-gap"
              name="schoolType"
              [(ngModel)]="userinfo.schoolType"
              type="radio"
              value="Ecole de commerce"/>
              <label for="schoolType6">Ecole de commerce</label>
            </p>
            <p>
            <input
              id="schoolType7"
              class="with-gap"
              name="schoolType"
              [(ngModel)]="userinfo.schoolType"
              type="radio"
              value="Autre Ecole"/>
              <label for="schoolType7">Autre Ecole</label>
            </p>
          </div>

          <div *ngIf="userinfo.type=='user'" class='row form-group'>
            <div class='input-field col s12'>
              <input required type="text" name='project' id='project' [(ngModel)]='userinfo.project' #project="ngModel" />
              <label data-error="Veuillez rentrer le nom du projet ou de la société créée" for='lastname'>Nom du projet ou de la société créée</label>
            </div>
          </div>

          <br />
          <div class='row form-group'>
            <button [disabled]="!formUser.form.valid" type='submit' class='col s12 btn btn-large waves-effect light-blue'>Valider</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
