<div class="row">
    <div class="container col m4 offset-m4 s12">
    <div class="z-depth-1 grey lighten-4 row">
      <div class="col s12">
        <form (ngSubmit)="patchPassword()" #formPassword="ngForm">
          <div class='row error-message' *ngIf="errorMessage">
            <div class='col s12' [innerHtml]="errorMessage">
            </div>
          </div>
          <div class='row success-message' *ngIf="successMessage">
            <div class='col s12' [innerHtml]="successMessage">
            </div>
          </div>

          <div class='row form-group'>
            <div class='input-field col s12'>
              <input required class='validate' type='password' name='password' id='password' [(ngModel)]='password'/>
              <label for='password'>Mot de passe</label>
            </div>
          </div>
          <div class='row form-group'>
            <div class='input-field col s12'>
              <input required class='validate' type='password' name='password-validate' id='password-validate' [(ngModel)]='passwordvalidate'/>
              <label for='password-vaidate'>Confirmer le Mot de passe</label>
            </div>
          </div>

          <div class='row form-group'>
            <button [disabled]="!formPassword.form.valid" type='submit' class='col s12 btn btn-large waves-effect light-blue'>Valider</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
