<div class="section"></div>
<main>
    <div class="section"></div>

    <h5 class="light-blue-text">Login</h5>
    <div class="section"></div>
    <div class="row">
        <div class="container col m4 offset-m4 s12">
        <div class="z-depth-1 grey lighten-4 row">
          <div class="col s12">
            <form (ngSubmit)="getNewToken()">
              <div class='row error-message' *ngIf="errorMessage">
                <div class='col s12' [innerHtml]="errorMessage">
                </div>
              </div>

              <div class='row form-group'>
                <div class='input-field col s12'>
                  <input class='validate' type='email' name='email' id='email' [(ngModel)]='userInfo.email' #email="ngModel" />
                  <label data-error="Veuillez rentrer un email" for='email'>Entrez votre email</label>
                </div>
              </div>

              <div class='row form-group'>
                <div class='input-field col s12'>
                  <input class='validate' type='password' name='password' id='password' [(ngModel)]='userInfo.password' #password="ngModel" />
                  <label for='password'>Entrez votre mot de passe</label>
                </div>
                <!-- <label style='float: right;'>
    							<a class='pink-text' href='#!'><b>Forgot Password?</b></a>
    						</label>-->
              </div>

              <br />
              <div class='row' onsubmit="console.log('submit')">
                <button type='submit' class='col s12 btn btn-large waves-effect light-blue'>Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <div class="create-account-link section">
    <a href="#!">Vous avez un code d'accès ?</a>
  </div>
  <div class="section"></div>
</main>
