<header>
  <div class="navbar-fixed main-nav">
    <nav class="z-depth-0">
      <div class="nav-wrapper light-blue accent-3 white-text">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="right"><a class="white-text disabled" *ngIf="currentUser" [innerHTML]="currentUser.getFullname()"></a></li>
            <li class="left"><a class="white-text">Accueil</a></li>
            <li class="right"><a class="white-text" *ngIf="">[[action]]</a></li>
            <li class="left"><app-dropdown [btnLabel]="'Sélectionner un scenario'" [values]="dropdownValues" (select)="select($event)"></app-dropdown></li>
        </ul>
        <a class="button-collapse right" (click)="toggleSidebar()"><i class="material-icons">menu</i></a>
        <ul class="side-nav" [class.active]="sidebarShown">
          <li><a class="disabled center-align" *ngIf="currentUser" [innerHTML]="currentUser.getFullname()"></a></li>
          <li><a>Accueil</a></li>
          <li><a *ngIf=""></a></li>
          <li><app-dropdown [btnLabel]="'Sélectionner un scenario'" [values]="dropdownValues" (select)="select($event)"></app-dropdown></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<main (click)="sidebarShown = false;">
  <router-outlet></router-outlet>
  <app-back-to-top></app-back-to-top>
</main>
<footer  class="page-footer blue-grey lighten-5">
  <div class="brand-logo center-align">
    <img src="./assets/img/logo-skilvioo.png" alt="skilvioo"/>
    <img src="./assets/img/logo-pépite.png" alt="pépite"/>
  </div>
</footer>
