<header>
  <div class="navbar-fixed main-nav">
    <nav class="z-depth-0">
      <div class="nav-wrapper light-blue accent-3 white-text">
        <ul id="nav-mobile" class="right hide-on-med-and-down" *ngIf="currentUser">
            <li class="left" *ngIf="['admin', 'pepite-admin'].indexOf(currentUser.type) > -1"><a [routerLink]="['/']">Accueil</a></li>
            <li class="right"><a class="white-text disabled" [innerHTML]="currentUser.getFullname()"></a></li>
            <li class="left" *ngIf="currentUser.type=='user'"><a [routerLink]="['/home']" [routerLinkActive]="['active']">Accueil</a></li>
            <li class="left" *ngIf="currentUser.type=='validator'"><a [routerLink]="['/users']" [routerLinkActive]="['active']">Retour aux utilisateurs</a></li>
            <li class="right" *ngIf="currentUser.type=='user'"><a [routerLink]="['/profile']" [routerLinkActive]="['active']" class="white-text" *ngIf="currentUser">Mon profile</a></li>
            <li class="right"><a (click)="logout()" *ngIf="currentUser">Se déconnecter</a></li>
            <!-- <li class="left"><app-dropdown [btnLabel]="'Sélectionner un scenario'" [values]="dropdownValues" (select)="select($event)"></app-dropdown></li> -->
        </ul>
        <a class="button-collapse right" (click)="toggleSidebar()"><i class="material-icons">menu</i></a>
        <ul class="side-nav" [class.active]="sidebarShown" *ngIf="currentUser">
          <li *ngIf="['admin', 'pepite-admin'].indexOf(currentUser.type) > -1"><a [routerLink]="['/']">Accueil</a></li>
          <li><a class="disabled center-align" [innerHTML]="currentUser.getFullname()"></a></li>
          <li *ngIf="currentUser.type=='user'"><a [routerLink]="['/home']" [routerLinkActive]="['active']">Accueil</a></li>
          <li *ngIf="currentUser.type=='validator'"><a [routerLink]="['/users']" [routerLinkActive]="['active']">Retour aux utilisateurs</a></li>
          <li *ngIf="currentUser.type=='user'"><a [routerLink]="['/profile']" [routerLinkActive]="['active']" *ngIf="currentUser">Mon profile</a></li>
          <li><a (click)="logout()"  *ngIf="currentUser">Se déconnecter</a></li>
          <!-- <li><app-dropdown [btnLabel]="'Sélectionner un scenario'" [values]="dropdownValues" (select)="select($event)"></app-dropdown></li> -->
        </ul>
      </div>
    </nav>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
  <app-back-to-top></app-back-to-top>
</main>
<footer  class="page-footer blue-grey lighten-5">
  <div class="brand-logo center-align">
    <img src="./assets/img/logo-skilvioo.png" alt="skilvioo"/>
    <img src="./assets/img/logo-pépite.png" alt="pépite"/>
  </div>
</footer>
