<div class="home-container" *ngIf="currentUser">
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <a *ngIf="!currentValidatedUser" class="brand-logo center">ACCUEIL</a>
      <a *ngIf="currentValidatedUser" class="brand-logo center">Profil de {{currentValidatedUser.getFullname()}}</a>
    </div>
  </nav>
</div>
<app-userstat *ngIf="currentValidatedUser" [user]='currentValidatedUser._id'></app-userstat>
<app-userstat *ngIf="!currentValidatedUser && currentUser._id" [user]='currentUser._id'></app-userstat>
<br/>
<!-- <div class="action-container center-align" *ngIf="currentUser.type == 'user'">
  <a
      class="waves-effect waves-light btn download-certificate-btn"
       [class.disabled]="!currentUser.certified"
      (click)="downloadCertificate()"
      *ngIf="currentUser"
    >
      <i class="material-icons left">school</i>
      Télécharger le certificat
  </a>
</div> -->
<div class="action-container center-align" *ngIf="currentUser.type != 'user'">
  <a
      class="waves-effect waves-light btn download-certificate-btn"
       [class.disabled]="currentUser.certified"
      (click)="certifiedUser(currentValidatedUser._id)"
    >
      <i class="material-icons left">school</i>
      Certifier l'utilisateur
  </a>
</div>
<br/>
<div class="phases-wrapper" *ngIf="reference.length > 0">
    <div class="phase-card" *ngFor="let phase of reference; let i = index;">
      <div (click)="navigateToCategories(phase)" class="hoverable card-panel" *ngIf="phase">
          <span class="phase-card__icon white-text left">
              <i class="material-icons medium">{{icons[i]}}</i>
          </span>
        <span class="white-text flow-text phase-card__content">
          <span class="phase-card__content-title">{{ phase.title }}</span>
          <br/>
          <span class="home-chips-container__hover">
            <span id="home-chips-total">{{ phase.categories.length }} compétences au total</span>
            <span class="home-chips__hover">{{ phase.grades.length }} compétences auto-évaluées</span>
            <span class="home-chips__hover">{{ (phase.grades | evaluatedgrade).length }} compétence validées</span>
          </span>
        </span>
        <span class="phase-badge right">
            PHASE
            <br>
            <span class="phase-number">
                {{i + 1}}
            </span>
        </span>
    </div>
  </div>
</div>
