<div class="home-container" *ngIf="currentUser">
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <a class="brand-logo center">ACCUEIL</a>
    </div>
  </nav>
</div>
<div class="chips-container center-align" *ngIf="categories && grades">
  <span class="card-metadata chip">
    <span class="card-metadata__counter light-blue blue-grey-text text-lighten-5">{{categories.length}}</span> Compétences
    <i class="material-icons right">star_border</i>
  </span>
  <span class="card-metadata chip">
    <span class="card-metadata__counter light-green blue-grey-text text-lighten-5">{{grades.length}}</span> Auto-évaluées
    <i class="material-icons right">star</i>
  </span>
  <span class="card-metadata chip">
    <span class="card-metadata__counter red accent-4 blue-grey-text text-lighten-5">{{(grades | evaluatedgrade).length}}</span> Validées
    <i class="material-icons right">done</i>
  </span>
</div>
<br/>
<div class="action-container center-align">
  <a
      class="waves-effect waves-light btn download-certificate-btn"
       [class.disabled]="!currentUser.isCertified"
      (click)="downloadCertificate()"
      *ngIf="currentUser"
    >
      <i class="material-icons left">school</i>
      Télécharger le certificat
  </a>
</div>
<br/>
<div class="phases-wrapper" *ngIf="reference">
    <div class="phase-card" *ngFor="let phase of reference; let i = index;">
      <div [routerLink]="['/phase', phase._id]" class="hoverable card-panel" *ngIf="phase">
          <span class="phase-card__icon white-text left">
              <i class="material-icons medium">{{icons[i]}}</i>
          </span>
        <span class="white-text flow-text phase-card__content">
          <span class="phase-card__content-title">{{ phase.title }}</span>
          <br/>
          <span class="home-chips-container__hover">
            <span id="home-chips-total">{{ phase.categories.length }} compétences au total</span>
            <span class="home-chips__hover">{{ phase.grades.length }} compétences auto-évaluées</span>
            <span class="home-chips__hover">{{ (phase.grades | evaluatedgrade).length }} compétence validées</span>
          </span>
        </span>
        <span class="phase-badge right">
            PHASE
            <br>
            <span class="phase-number">
                {{i + 1}}
            </span>
        </span>
    </div>
  </div>
</div>
