.navbar-fixed {
  margin-bottom: 40px;
}

.nav-wrapper {
  height: 80px
}

.nav-wrapper >a {
  line-height: 80px
}

.phases-wrapper {
  text-align: center;
}

.phase-card .card-panel {
  display: inline-block;
  margin: 10px auto;
  height: 110px;
  border-radius: 55px;
  padding-left: 40px;
  overflow: hidden;
  font-family: raleway;
  background: rgba(255,255,255,0.2);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(245,245,245,0.08) 47%, rgba(240,240,240,0) 77%, rgba(237,237,237,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.2)), color-stop(47%, rgba(245,245,245,0.08)), color-stop(77%, rgba(240,240,240,0)), color-stop(100%, rgba(237,237,237,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(245,245,245,0.08) 47%, rgba(240,240,240,0) 77%, rgba(237,237,237,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(245,245,245,0.08) 47%, rgba(240,240,240,0) 77%, rgba(237,237,237,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(245,245,245,0.08) 47%, rgba(240,240,240,0) 77%, rgba(237,237,237,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(245,245,245,0.08) 47%, rgba(240,240,240,0) 77%, rgba(237,237,237,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  @media only screen and (max-width: 992px){
    display: flex;
    flex-direction: row;
  }
}

.phase-card:nth-of-type(1) .card-panel {
  background: #00C9EA;
}

.phase-card:nth-of-type(2) .card-panel {
  background: #3A4D57;
}

.phase-card:nth-of-type(3) .card-panel {
  background: #EA3C38;
}

.phase-card:nth-of-type(4) .card-panel {
  background: #D0DC2D;
}

.phase-card__content {
  transition: all 120ms ease-in;
  display: inline-block;
  @media only screen and (max-width: 992px){
    font-size: 1rem;
  }
}

.phase-card > .hoverable:hover .phase-card__content {
  top: -96px;
}

.hoverable{
  cursor: pointer;
}

.action-container a {
  border-radius:25px;
}

.phase-card__icon {
  display: inline-block;
  width: 84px;
  height: 64px;
  border-right: 1px solid #ffffff;
  margin-right: 20px;
  padding-right: 20px;
}
.phase-card__content-title {
  position: relative;

}

.phase-card__icon + span:not(.home-chips-container__hover) {
  position: relative;
  top: 16px;
}

.home-chips-container__hover {
  position: relative;
  top: 54px;
}

.phase-badge {
  position: relative;
  right: -5px;
  top: -5px;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background: #ffffff;
  text-align: center;
  padding-top: 10px;
  margin-left: 20px;
}

.phase-badge span {
  line-height: 40px;
  font-size: 1.2em;
}

.phase-badge .phase-number {
  font-size: 3em;
  line-height: 0.8em;
  font-weight: bold;
}

.phase-card:nth-of-type(1) .phase-badge {
  color: #00C9EA;
}

.phase-card:nth-of-type(2) .phase-badge {
  color: #3A4D57;
}

.phase-card:nth-of-type(3) .phase-badge {
  color: #EA3C38;
}

.phase-card:nth-of-type(4) .phase-badge {
  color: #D0DC2D;
}

.home-chips-container__hover {
  display: inline-block;
}

.home-chips__hover {
  font-size: small;
  display: block;
}

#home-chips-total{
  font-weight: 200;
}

@media only screen and (max-width: 992px) {
  .phases-wrapper {
    text-align: left;
  }

  .phase-card .card-panel {
    border-radius: 0 55px 55px 0;
  }
}
