.userList {
  text-align: center;

  li {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #E6E6E6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    @media only screen and (max-width: 992px) {
      justify-content: center;
    }

    &.unvalidated {
      opacity: 0.4;
    }
    .chip {
      height: auto!important;
    }

    .block {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.user-handlers {
        width: 100%;
        display: block;
      }
    }

    .block-full {
      &.user-stats {
        display: block;
        width: 25%;
      }
    }

    .user-info {
      text-align: left;
    }

    &.validator {
      background-color: #009688;
      color: #E6E6E6;
      a {
        color: white;
      }
    }
    &.pepite {
      background-color: #3a4d57;
      color: white;
    }
    &.admin {
      background-color: #ea3c38;
      color: white;
    }
    .admin > a {
      color: black;
    }
    .pepite > a {
      color: white;
    }

    app-userstat {
      .chips-container {
        display: inline-block;
      }
    }
  }
}

a {
  cursor: pointer;
}
