/* You can add global styles to this file, and also import other style files */

/*------------------------------------------------------
------------------ STRUCTURE ---------------------
------------------------------------------------------*/

.container {
  max-width: none;
}

nav {
  margin-bottom: 30px;
}

.section {
  position: relative;
  left: 25px;
  width: calc(100% - 50px);
}

body.disableScroll {
  overflow: hidden;
}

.brand-logo img {
  max-height: 60px;
  padding: 5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

app-root {
  flex: 1 0 auto;
}

.navbar-fixed:not(.main-nav) {
  position: relative;
  z-index: 9;
}

/*------------------------------------------------------
------------------------- CARDS ---------------------
------------------------------------------------------*/
.card-metadata__counter {
  display: inline-block;
  position: relative;
  left: -12px;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 32px;
}

.card-metadata .material-icons {
  position: relative;
  top: 4px;
}

/*----------------------------------------------------
---------------------- PRELOADER ---------------
-----------------------------------------------------*/

.preloader-wrapper {
  margin: auto;
}

.preloader-container {
  height: 100vh;
}

/*----------------------------------------------------
---------------------- COLORS --------------------
-----------------------------------------------------*/

.light-blue:not(.disabled),
.light-blue.lighten-2:not(.disabled),
.light-blue.accent-3:not(.disabled) {
  background-color: #00C9EA !important;
}

.red.accent-4:not(.disabled) {
  background-color: #EA3C38 !important;
}
