<div class="chips-container center-align" *ngIf="categories && grades">
  <span class="card-metadata chip" *ngIf="!hideCategories">
    <span class="card-metadata__counter light-blue blue-grey-text text-lighten-5">{{categories.length}}</span> Compétences
    <i class="material-icons right">star_border</i>
  </span>
  <span class="card-metadata chip">
    <span class="card-metadata__counter light-green blue-grey-text text-lighten-5">{{grades.length}}</span> Auto-évaluées
    <i class="material-icons right">star</i>
  </span>
  <span class="card-metadata chip">
    <span class="card-metadata__counter red accent-4 blue-grey-text text-lighten-5">{{(grades | evaluatedgrade).length}}</span> Validées
    <i class="material-icons right">done</i>
  </span>
</div>
